<h3>{{leyenda}} {{progreso}}</h3>


          <div class="input-group">
              <input type="number" #txtprogress class="form-control" name="progreso" [(ngModel)]="progreso" (ngModelChange)="onChanges($event)" min="1" max="100">          
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default" 
                  (click)="cambiarValor(-5)"
                >-</button>
                  <button type="button" class="btn btn-default"
                  (click)="cambiarValor(+5)"
                  >+</button>
              </span>
            
            </div>
       